{% extends 'base.html.twig' %}

{% block body %}

	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		
		<!--[if !IE]>start header main menu<![endif]-->
		
		<div id="header_main_menu">
		
		<span id="header_main_menu_bg"></span>
		<!--[if !IE]>start header<![endif]-->
		<div id="header">
			<div class="inner">
				
				
				<!--[if !IE]>start user details<![endif]-->
				<div id="user_details">
					<ul id="user_details_menu">
						<li class="welcome">Bem Vindo <strong>{{admin.name}}</strong></li>
					</ul>			
				</div>
				
				<!--[if !IE]>end user details<![endif]-->
			</div>
		</div>
		<!--[if !IE]>end header<![endif]-->
		
		<!--[if !IE]>start main menu<![endif]-->
		<div id="main_menu">
			<div class="inner">
			<ul>
				<li>
					<a href="{{ path('adminUsers') }}/{{admin.id}}" ><span class="l"><span></span></span><span class="m"><em>Usuários</em><span></span></span><span class="r"><span></span></span></a>
				</li>
				<li>
					<a href="{{ path('adminSalas') }}/{{admin.id}}" class="selected_lk"><span class="l"><span></span></span><span class="m"><em>Sala</em><span></span></span><span class="r"><span></span></span></a>
				</li>
		    </ul>
			</div>
			<span class="sub_bg"></span>
		</div>
		<!--[if !IE]>end main menu<![endif]-->
		
		</div>
		<div id="content">
			<div class="inner">
			<div class="section">
					
					<!--[if !IE]>start title wrapper<![endif]-->
					<div class="title_wrapper">
						<span class="title_wrapper_top"></span>
						<div class="title_wrapper_inner">
							<span class="title_wrapper_middle"></span>
							<div class="title_wrapper_content">
								<h2>Adicionar sala</h2>
								<ul class="section_menu section_nav right">
								{%if admin %}
									<li><a href="{{ path('adminSalas')}}/{{admin.id}}" class="section_back"><span class="l"><span></span></span><span class="m"><em>Voltar</em><span></span></span><span class="r"><span></span></span></a></li>
							
								{%endif%}
								</ul>
							</div>
						</div>
						<span class="title_wrapper_bottom"></span>
					</div>
					</div>
					</div>
							<div class="section_content">
						<span class="section_content_top"></span>
						
						<div class="section_content_inner">
						
						<!--[if !IE]>start product page<![endif]-->
						<div id="product_page">
							<!--[if !IE]>start product content<![endif]-->
								<div id="product_content">
									<h3>Sala</h3>
									{%if admin %}
									<form action="{{ path('adminSalaAdd')}}/{{admin.id}}" method="post" >
									{%else %}
									<form action="#" method="post" >
									{%endif %}
									<!--[if !IE]>start fieldset<![endif]-->
									<fieldset>
									<!--[if !IE]>start modules<![endif]-->
									<div class="modules">
										<!--[if !IE]>start module<![endif]-->
										<div class="module">
											<!--[if !IE]>start module top<![endif]-->
											<div class="module_top">
												<h5>Nome</h5>
												
											</div>
											<!--[if !IE]>end module top<![endif]-->
											<!--[if !IE]>start module bottom<![endif]-->
											<div class="module_bottom">
											<input style="color:black" name="name" value="" type="text" />
											</div>
											<!--[if !IE]>end module bottom<![endif]-->
										</div>
										<!--[if !IE]>end module<![endif]-->
										
										<!--[if !IE]>start module<![endif]-->
										
										<input type="hidden" name="add" value="add">
										<div class="module">
											<!--[if !IE]>start module top<![endif]-->
											<div class="module_top">
												<h5></h5>				
											</div>
											<div class="module_bottom">
												<input style="color:black" name="" value="Enviar" type="submit" />
												
											</div>

										</div>
										
									</div>
									<!--[if !IE]>end modules<![endif]-->
									
									
										</fieldset>
										</form>								
								</div>

						</div>
						<!--[if !IE]>end product page<![endif]-->
						
						
						</div>
						
						<span class="section_content_bottom"></span>
					</div>
					<!--[if !IE]>end section content<![endif]-->	
			</div>
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">
		
	</div>
	<!--[if !IE]>end footer<![endif]-->
{% endblock %}

