{% extends 'base.html.twig' %}

{% block body %}

	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		
		<!--[if !IE]>start header main menu<![endif]-->
		
		<div id="header_main_menu">
		
		<span id="header_main_menu_bg"></span>
		<!--[if !IE]>start header<![endif]-->
		<div id="header">
			<div class="inner">
				
				
				<!--[if !IE]>start user details<![endif]-->
				<div id="user_details">
					<ul id="user_details_menu">
						<li class="welcome">Bem Vindo <strong>Administrator</strong></li>
						
						<li>
							<ul id="user_access">
								<li class="last"><a href="#">Log out</a></li>
							</ul>
						</li>
						
						
					</ul>
					
					<div id="server_details">
						<dl>
							<dt>Server time :</dt>
							<dd>9:22 AM | 03/04/2009</dd>
						</dl>
					</div>
					
				</div>
				
				<!--[if !IE]>end user details<![endif]-->
			</div>
		</div>
		<!--[if !IE]>end header<![endif]-->
		
		<!--[if !IE]>start main menu<![endif]-->
		<div id="main_menu">
			<div class="inner">
			<ul>
				<li>
					<a href="#" class="selected_lk"><span class="l"><span></span></span><span class="m"><em>Usuários</em><span></span></span><span class="r"><span></span></span></a>
				</li>
				<li>
					<a href="#"><span class="l"><span></span></span><span class="m"><em>P</em><span></span></span><span class="r"><span></span></span></a>
				</li>
		    </ul>
			</div>
			<span class="sub_bg"></span>
		</div>
		<!--[if !IE]>end main menu<![endif]-->
		
		</div>
		
		<!--[if !IE]>end header main menu<![endif]-->
		
		
		
		
		<!--[if !IE]>start content<![endif]-->
		<div id="content">
			<div class="inner">
				
				
				<!--[if !IE]>start section<![endif]-->
				
				
				<!--[if !IE]>start section<![endif]-->

				<!--[if !IE]>end section<![endif]-->
				
				
				<!--[if !IE]>start section<![endif]-->

	
				<!--[if !IE]>start section<![endif]-->
				<div class="section">
					
					<!--[if !IE]>start title wrapper<![endif]-->
					<div class="title_wrapper">
						<span class="title_wrapper_top"></span>
						<div class="title_wrapper_inner">
							<span class="title_wrapper_middle"></span>
							<div class="title_wrapper_content">
								<h2>Usuários:</h2>
							</div>
						</div>
						<span class="title_wrapper_bottom"></span>
					</div>
					<!--[if !IE]>end title wrapper<![endif]-->
					
					<!--[if !IE]>start section content<![endif]-->
					<div class="section_content">
						<span class="section_content_top"></span>
						
						<div class="section_content_inner">
							
							<div class="table_tabs_menu">
							<!--[if !IE]>start  tabs<![endif]-->
							<!--[if !IE]>end  tabs<![endif]-->
							<a href="#" class="update"><span><span><em>Adicionar novo usuário</em><strong></strong></span></span></a>
							</div>
						
							<!--[if !IE]>start table_wrapper<![endif]-->
							<div class="table_wrapper">
								<div class="table_wrapper_inner">
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<th style="width: 17px;">No.</th>
										<th><a href="#" class="asc">Name</a></th>
										<th style="width: 165px;">Actions</th>
									</tr>
									{% for item in user %}
									<tr class="first">
										<td>{{item.id}}</td>
										<td><a href="#" class="product_name">{{item.name}}</a></td>
										<td>
											<div class="actions_menu">
												<ul>
													<li><a class="details" href="{{ path('adminUsersDetail') }}/{{item.id}}">Details</a></li>
													<li><a class="edit" href="{{ path('adminUsersEdit') }}/{{item.id}}">Edit</a></li>
													<li><a class="delete" href="{{ path('adminUsersDelete')}}/{{item.id}}">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									 {% endfor %}
									
									
									
								</tbody></table>
								</div>
							</div>
							<!--[if !IE]>end table_wrapper<![endif]-->
							
						</div>
						
						<!--[if !IE]>start pagination<![endif]-->
							<div class="pagination_wrapper">
							<span class="pagination_top"></span>
							<div class="pagination_middle">
							<div class="pagination">
								<span class="page_no">Page 1 of 217</span>
								
								<ul class="pag_list">
									<li><a href="#" class="pag_nav"><span><span>Previous</span></span></a> </li>
									<li><a href="#">1</a></li>
									<li><a href="#" class="current_page"><span><span>2</span></span></a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li>[...]</li>
									<li><a href="#">217</a></li>
									<li><a href="#" class="pag_nav"><span><span>Next</span></span></a> </li>
								</ul>
							</div>
							</div>
							<span class="pagination_bottom"></span>
							</div>
						<!--[if !IE]>end pagination<![endif]-->
						
						
						<span class="section_content_bottom"></span>
					</div>
					<!--[if !IE]>end section content<![endif]-->
				</div>
				<!--[if !IE]>end section<![endif]-->
				
				
			</div>
		</div>
		<!--[if !IE]>end content<![endif]-->
		
		
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">
		<div id="footer_inner">
			<div class="inner">
				
				<div id="footer_info">
					Powered by YourApp v1.2 | © 2009 Your Company. All rights reserved
				</div>
				
				
				<ul id="footer_menu">
					<li class="first"><a href="#">Help</a></li>
					<li><a href="#">Contact Support</a></li>
				</ul>	
				
				
				
			</div>
		</div>
	</div>
	<!--[if !IE]>end footer<![endif]-->
{% endblock %}

