{% extends 'base.html.twig' %}

{% block body %}

	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		
		<!--[if !IE]>start header main menu<![endif]-->
		
		<div id="header_main_menu">
		
		<span id="header_main_menu_bg"></span>
		<!--[if !IE]>start header<![endif]-->
		<div id="header">
			<div class="inner">
				
				
				<!--[if !IE]>start user details<![endif]-->
				<div id="user_details">
					<ul id="user_details_menu">
						<li class="welcome">Bem Vindo <strong>Administrator</strong></li>
						
						<li>
							<ul id="user_access">
								<li class="last"><a href="#">Log out</a></li>
							</ul>
						</li>
						
						
					</ul>
					
					<div id="server_details">
						<dl>
							<dt>Server time :</dt>
							<dd>9:22 AM | 03/04/2009</dd>
						</dl>
					</div>
					
				</div>
				
				<!--[if !IE]>end user details<![endif]-->
			</div>
		</div>
		<!--[if !IE]>end header<![endif]-->
		
		<!--[if !IE]>start main menu<![endif]-->
		<div id="main_menu">
			<div class="inner">
			<ul>
				<li>
					<a href="#" class="selected_lk"><span class="l"><span></span></span><span class="m"><em>Usuários</em><span></span></span><span class="r"><span></span></span></a>
				</li>
				<li>
					<a href="#"><span class="l"><span></span></span><span class="m"><em>Salas</em><span></span></span><span class="r"><span></span></span></a>
				</li>
		    </ul>
			</div>
			<span class="sub_bg"></span>
		</div>
		<!--[if !IE]>end main menu<![endif]-->
		
		</div>
		<div id="content">
			<div class="inner">
			<div class="section">
					
					<!--[if !IE]>start title wrapper<![endif]-->
					<div class="title_wrapper">
						<span class="title_wrapper_top"></span>
						<div class="title_wrapper_inner">
							<span class="title_wrapper_middle"></span>
							<div class="title_wrapper_content">
								<h2>Detalhes da Sala</h2>
								<ul class="section_menu section_nav right">
									<li><a href="{{ path('adminSalas')}}/{{admin.id}}" class="section_back"><span class="l"><span></span></span><span class="m"><em>Back</em><span></span></span><span class="r"><span></span></span></a></li>
								</ul>
							</div>
						</div>
						<span class="title_wrapper_bottom"></span>
					</div>
					</div>
					</div>
							<div class="section_content">
						<span class="section_content_top"></span>
						
						<div class="section_content_inner">
						
						<!--[if !IE]>start product page<![endif]-->
						<div id="product_page">
							<!--[if !IE]>start product content<![endif]-->
								<div id="product_content">
									<h3>Sala</h3>
									
									<!--[if !IE]>start modules<![endif]-->
									<div class="modules">
										<!--[if !IE]>start module<![endif]-->
										<div class="module">
											<!--[if !IE]>start module top<![endif]-->
											<div class="module_top">
												<h5>Nome</h5>
												
											</div>
											<!--[if !IE]>end module top<![endif]-->
											<!--[if !IE]>start module bottom<![endif]-->
											<div class="module_bottom">
											{{user.name}}
											</div>
											<!--[if !IE]>end module bottom<![endif]-->
										</div>
										<!--[if !IE]>end module<![endif]-->
										<div class="module">
											<!--[if !IE]>start module top<![endif]-->
											<div class="module_top">
												<h5>Horarios</h5>
												
											</div>
											<!--[if !IE]>end module top<![endif]-->
											<!--[if !IE]>start module bottom<![endif]-->
											<div class="module_bottom">
															<div class="section">
					
					<!--[if !IE]>start title wrapper<![endif]-->
				
					<!--[if !IE]>end title wrapper<![endif]-->
					
					<!--[if !IE]>start section content<![endif]-->
					<div class="section_content">
						<span class="section_content_top"></span>
						
						<div class="section_content_inner">
							<!--[if !IE]>start table_wrapper<![endif]-->
							<div class="table_wrapper">
								<div class="table_wrapper_inner">
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<th><a href="#">Horario</a></th>
										<th><a href="#" >Reservado</a></th>
										<th><a href="#">Reservante</a></th>
										
									</tr>
									{% for item in horarios %}
									<tr class="first">
										<td>{{item.horario}}:00</td>
										{%if item.autor%}
											<td><span class="approved">{{item.reservado}}</span></td>
										{%else%}
											<td><span class="">{{item.reservado}}</span></td>
										{%endif%}
										<td>{{item.autor}}</td>
									{%endfor%}	
									</tr>
									
									
									
									
								</tbody></table>
								</div>
							</div>
							<!--[if !IE]>end table_wrapper<![endif]-->
						</div>
						
						<span class="section_content_bottom"></span>
					</div>
					<!--[if !IE]>end section content<![endif]-->
				</div>
				<!--[if 
											</div>
											<!--[if !IE]>end module bottom<![endif]-->
										</div>
										<!--[if !IE]>start module<![endif]-->
										
										</div>
										
										
										
										
										
										
										
										
									</div>
									<!--[if !IE]>end modules<![endif]-->
									
									
							
									
									
									
								</div>
							<!--[if !IE]>end product content<![endif]-->
							<!--[if !IE]>start product gallery<![endif]-->
							
								<!--[if !IE]>end product gallery<![endif]-->
						</div>
						<!--[if !IE]>end product page<![endif]-->
						
						
						</div>
						
						<span class="section_content_bottom"></span>
						
					</div>
					<!--[if !IE]>end section content<![endif]-->
					
					
					
					
					
					
					
					
			</div>
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">
		<div id="footer_inner">
			<div class="inner">
				
				<div id="footer_info">
					Powered by YourApp v1.2 | © 2009 Your Company. All rights reserved
				</div>
				
				
				<ul id="footer_menu">
					<li class="first"><a href="#">Help</a></li>
					<li><a href="#">Contact Support</a></li>
				</ul>	
				
				
				
			</div>
		</div>
	</div>
	<!--[if !IE]>end footer<![endif]-->
{% endblock %}

