{% extends 'base.html.twig' %}

{% block body %}

	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		
		<!--[if !IE]>start header main menu<![endif]-->
		
		<div id="header_main_menu">
		
		<span id="header_main_menu_bg"></span>
		<!--[if !IE]>start header<![endif]-->
		<div id="header">
			<div class="inner">
				
				
				<!--[if !IE]>start user details<![endif]-->
				<div id="user_details">
					<ul id="user_details_menu">
						<li class="welcome">Bem Vindo <strong>{{admin.name}}</strong></li>
					</ul>
					
					<div id="server_details">
					</div>
					
				</div>
				
				<!--[if !IE]>end user details<![endif]-->
			</div>
		</div>
		<!--[if !IE]>end header<![endif]-->
		
		<!--[if !IE]>start main menu<![endif]-->
		<div id="main_menu">
			<div class="inner">
			<ul>
				<li>
					<a href="{{ path('adminUsers') }}/{{admin.id}}" ><span class="l"><span></span></span><span class="m"><em>Usuários</em><span></span></span><span class="r"><span></span></span></a>
				</li>
				<li>
					<a href="{{ path('adminSalas') }}/{{admin.id}}" class="selected_lk"><span class="l"><span></span></span><span class="m"><em>Salas</em><span></span></span><span class="r"><span></span></span></a>
				</li>
		    </ul>
			</div>
			<span class="sub_bg"></span>
		</div>
		<!--[if !IE]>end main menu<![endif]-->
		
		</div>
		
		<!--[if !IE]>end header main menu<![endif]-->
		
		
		
		
		<!--[if !IE]>start content<![endif]-->
		<div id="content">
			<div class="inner">
				
		
				<div class="section">
					
					<!--[if !IE]>start title wrapper<![endif]-->
					<div class="title_wrapper">
						<span class="title_wrapper_top"></span>
						<div class="title_wrapper_inner">
							<span class="title_wrapper_middle"></span>
							<div class="title_wrapper_content">
								<h2>Salas:</h2>
							</div>
						</div>
						<span class="title_wrapper_bottom"></span>
					</div>
					<!--[if !IE]>end title wrapper<![endif]-->
					
					<!--[if !IE]>start section content<![endif]-->
					<div class="section_content">
						<span class="section_content_top"></span>
						
						<div class="section_content_inner">
							
							<div class="table_tabs_menu">
							<!--[if !IE]>start  tabs<![endif]-->
							<!--[if !IE]>end  tabs<![endif]-->
							<a href="{{ path('adminSalaAdd') }}/{{admin.id}}" class="update"><span><span><em>Adicionar nova Sala</em><strong></strong></span></span></a>
							</div>
						
							<!--[if !IE]>start table_wrapper<![endif]-->
							<div class="table_wrapper">
								<div class="table_wrapper_inner">
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<th style="width: 17px;">No.</th>
										<th>Nome</th>
										<th style="width: 165px;">Ações</th>
									</tr>
									{% for item in user %}
									<tr class="first">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>
											<div class="actions_menu">
												<ul>
													<li><a class="details" href="{{ path('adminSalaDetail') }}/{{item.id}}/{{admin.id}}">Detalhes</a></li>
													<li><a class="edit" href="{{ path('adminSalaEdit') }}/{{item.id}}/{{admin.id}}">Editar</a></li>
													<li><a class="delete" href="{{ path('adminSalaDelete')}}/{{item.id}}/{{admin.id}}">Deletar</a></li>
												</ul>
											</div>
										</td>
									</tr>
									 {% endfor %}
									
									
									
								</tbody></table>
								</div>
							</div>
							<!--[if !IE]>end table_wrapper<![endif]-->
							
						</div>
						
						
						
						<span class="section_content_bottom"></span>
					</div>
					<!--[if !IE]>end section content<![endif]-->
				</div>
				<!--[if !IE]>end section<![endif]-->
				
				
			</div>
		</div>
		<!--[if !IE]>end content<![endif]-->
		
		
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">

	</div>
	<!--[if !IE]>end footer<![endif]-->
{% endblock %}

